@model ProyectoMicro.Models.Parametro

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Parametro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modo_Operacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modo_Operacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Riego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iluminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iluminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventilador_Aire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventilador_Aire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extractor_Aire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extractor_Aire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChange)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
