@model ProyectoMicro.Models.Parametro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Parametro</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Modo_Operacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modo_Operacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Temperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Temperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humedad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humedad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Riego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Riego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iluminacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iluminacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ventilador_Aire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ventilador_Aire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extractor_Aire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extractor_Aire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastChange)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastChange)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
