@model ProyectoMicro.Models.Parametro

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Parametro</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Cultivo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cultivo)
                @Html.ValidationMessageFor(model => model.Cultivo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Modo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modo)
                @Html.ValidationMessageFor(model => model.Modo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temperatura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temperatura)
                @Html.ValidationMessageFor(model => model.Temperatura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Humedad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Humedad)
                @Html.ValidationMessageFor(model => model.Humedad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Calefaccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Calefaccion)
                @Html.ValidationMessageFor(model => model.Calefaccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ventilador, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ventilador)
                @Html.ValidationMessageFor(model => model.Ventilador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extractor, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extractor)
                @Html.ValidationMessageFor(model => model.Extractor)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Iluminacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Iluminacion)
                @Html.ValidationMessageFor(model => model.Iluminacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Riego, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Riego)
                @Html.ValidationMessageFor(model => model.Riego)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Condicion_Riego, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Condicion_Riego)
                @Html.ValidationMessageFor(model => model.Condicion_Riego)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temporizador_Riego, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temporizador_Riego)
                @Html.ValidationMessageFor(model => model.Temporizador_Riego)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Actualizado, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Actualizado)
                @Html.ValidationMessageFor(model => model.Actualizado)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
