@model ProyectoMicro.Models.Parametro

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Parametro</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Modo_Operacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Modo_Operacion)
                @Html.ValidationMessageFor(model => model.Modo_Operacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Temperatura, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Temperatura)
                @Html.ValidationMessageFor(model => model.Temperatura)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Humedad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Humedad)
                @Html.ValidationMessageFor(model => model.Humedad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Riego, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Riego)
                @Html.ValidationMessageFor(model => model.Riego)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Iluminacion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Iluminacion)
                @Html.ValidationMessageFor(model => model.Iluminacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ventilador_Aire, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ventilador_Aire)
                @Html.ValidationMessageFor(model => model.Ventilador_Aire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Extractor_Aire, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Extractor_Aire)
                @Html.ValidationMessageFor(model => model.Extractor_Aire)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastChange, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastChange)
                @Html.ValidationMessageFor(model => model.LastChange)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
