
@model IEnumerable<ProyectoMicro.Models.Parametro>

@{
    ViewBag.Title = "GETParametros";
}

<h2>Parametros incluidos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modo_Operacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iluminacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ventilador_Aire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extractor_Aire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastChange)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modo_Operacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Riego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iluminacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ventilador_Aire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extractor_Aire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastChange)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
