@model IEnumerable<ProyectoMicro.Models.Parametro>

@{
    ViewBag.Title = "Index";
}

<h2>Estado del Sistema</h2>

<p>
    <script type="text/javascript">
        var int = self.setInterval("refresh()", 1000);
        function refresh() {
            location.reload(true);
        }
    </script>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cultivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calefaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ventilador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extractor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iluminacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condicion_Riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Temporizador_Riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actualizado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Cultivo) </center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Modo) </center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Temperatura)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Humedad)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Calefaccion)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Ventilador)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Extractor)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Iluminacion)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Riego)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Condicion_Riego)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Temporizador_Riego)</center>
        </td>
        <td>
            <center> @Html.DisplayFor(modelItem => item.Actualizado)</center>
        </td>
        <td>   
        </td>
    </tr>
}

</table>
