@model IEnumerable<ProyectoMicro.Models.Parametro>

@{
    ViewBag.Title = "PLZGOD";
}

<h2>PLZGOD</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.humedad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.riego)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iluminacion)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.temperatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.humedad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.riego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iluminacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }
</table>